<div id="aboutus">
	<div id="butterfly-container"></div>
	<img src="assets/images/gg_image_logo_white.svg" alt="guest+guest logo"/>
	<div class="text-content">
		<h2>A Little About Us</h2>
		<p>We don’t like to be square at guest+guest, and we believe the web should be fun.
With extensive experience in websites, web and mobile apps and branding and marketing from one of the world’s most dynamic companies, we believe we can bring you something special. Transforming high-quality code into modern, beautiful web experiences is where we get our kicks. Take a look at <a href="portfolio" class="internal-link">some of our projects</a>, our <a href="/side-projects">side-projects</a> and artwork and discover what we can do.</p>

		<p class="white">Come on board, and we’ll be speeding down the road in no time!</p>
	</div>
</div>
