
<div id="portfolio" class="active-5">

	<figure id="fig-1" >
	  <img src="assets/images/portfolio/mappo__th.jpg" alt="Mappo thumbnail"/>
	  <h4>Mappo</h4>
	  <figcaption>
	  	<p>Mappo is a side-project built for paragliding- utilizing iPhone built in sensors and GPS capabilities to map and record flights while providing live mapping and flight data.</p>
	  	<p>Built in React-Native with Firebase</p>
		</figcaption>
	</figure>
	
	<figure id="fig-2" >
	  <img src="assets/images/portfolio/bcv__th.jpg" alt="Black Cordon thumbnail"/>
	  <h4>Black Cordon Vineyards</h4>
	    <figcaption>
	      <p>A boutique Napa Valley winemaker were after a site which highlighted both their approachability, and the high-end nature of their product.</p>
	      <a href="//blackcordon.com" target="_blank">blackcordon.com</a>
	  </figcaption>
	</figure>
	
	<figure id="fig-3" >
	  <img src="assets/images/portfolio/brattesani__th.jpg" alt="Cynthia Brattesani thumbnail"/>
	  <h4>Dr. Cynthia Brattesani</h4>
	  <figcaption>
	    <p>Dr. Cynthia Brattesani is a high-end San Francisco dentist, after a stylish, minimalist vibe. We delivered her a site which exceeded her precise specifications, mirroring her stylish office and showcasing her technology and skills.</p>
	    <a href="//drcynthiab.com" target="_blank">drcynthiab.com</a>
	  </figcaption>
	</figure>
	
	<figure id="fig-4" >
	  <img src="assets/images/portfolio/enoriver__th.jpg" alt="Eno River Orthodontics thumbnail"/>
	  <h4>Eno River Orthodontics</h4>
	  <figcaption>
	    <p>Dr. Hart wanted something a little different, to stand out from his competition. Utilizing some excellent photography, we build a site with a unique scrolling style.</p>
	    <a href="//enoriverorthodontics.com" target="_blank">enoriverorthodontics.com</a>
	  </figcaption>
	</figure>

	<figure  id="fig-5" class="active" >
	  <img src="assets/images/portfolio/grahamortho__th.jpg" alt="Graham Ortho thumbnail"/>
	  <h4>Graham Ortho</h4>
	  <figcaption>
	    <p>One of the US' top orthodontists brief was "minimalist to the max". Full screen video and scroll fitted his specs to "avoid looking like an orthodontist!"</p>
		  <a href="//enoriverorthodontics.com" target="_blank">enoriverorthodontics.com</a>
	  </figcaption>
	</figure>

</div>

<div id="article-content">
  <h4 style="text-align:center">Click around!</h4>
</div>

<div id="side-projects">
	<a href="/side-projects" class="menu-item left">side-projects</a>
	<a href="//behance.net/guestandguest" target="_blank"><img data-target="//behance.net/guestandguest" src="assets/images/behance-logo.svg"/></a>
	<a href="//codepen.io/guestn/pens/public/" target="_blank"><img data-target="//codepen.io/guestn/" src="assets/images/codepen-logo.svg"/></a>

</div>