$menuAnimDuration : 1s;

@mixin transitionIn {
   transition: all 0.5s ease-in; 
}


// menu //


.menu-button {
	position: absolute;
  left: 20px;
  bottom: 40px;
  width: 100px;
  height: 50px;
  background: transparent;
  border: none;
  transform: skewY(-10deg);
  z-index: 200;
  cursor: pointer;
	span {
	  display: block;
	  width: 100%;
	  height: 8%;
	  background: white;
	  position: absolute;
	  left: 0;
	  top: 0;
	}
	span {
		&:nth-child(2) {
			top: 46%;
		}
		&:nth-child(3) {
			top: 96%;
		}
		&:focus,
		&:active {
		  outline: 0;
		}
	}
	&:focus,
	&:active {
		outline: 0;
	}
	@media (max-width: $mobile) {
		left: 15px;
		width: 64px;
		height: 32px;
	}
}

#menu {
  visibility: hidden;
  overflow: hidden;
  display: flex;
	flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 100%;
	transition: visibility 0.1s linear 0s;
	opacity:0;

}

#menu-expander {
	width: 100vw;
	height: 100vh;
	#morpher {
		//fill: rgba(0,0,0,0.9);
	}
}


.menu-active {
	#menu {
	  visibility: visible;
	  opacity: 1;
	  transition: visibility 1s linear $menuAnimDuration, opacity $menuAnimDuration linear $menuAnimDuration;
	}

	.menu-button {
		span {
			&:nth-child(1) {
				animation: first 1s ease-out forwards;
			}
			&:nth-child(2) {
				animation: second 1s ease-out forwards;
			}
			&:nth-child(3) {
				animation: third 1s ease-out forwards;
				@media (max-width: $mobile) {
					animation: third-mobile 1s ease-out forwards;
				}
			}
		}
	}
	
	.nav-menu {
		opacity: 1;
	}
}

.nav-menu {
	position: absolute;
	right: 0%;
	bottom: 0%;
	font-size: 2.25em;
	text-transform: uppercase;
	text-align: right;
	transform-style: preserve-3d;
	perspective: 700px;
	perspective-origin: 50% 20%;
	width:auto;
	display:inline-block;
	opacity: 0;
	transition: all 1.5s linear 0.5s;
	z-index: 400;
	
	a {
		display: block;
		color:white;
		line-height: 0.8;
		transform-origin: 100% 50%;
		transform: rotateY(-10deg) translateZ(0px);
		
		&:nth-child(2) {
			opacity: 0.8;
		}
		&:nth-child(3) {
			opacity: 0.6;
		}
	}
	@media (max-height: 600px) {
		font-size: 1.65em;
	}
	
	@media (max-width: $mobile) AND (max-height: 660px){
		right: 0em;
		bottom: 0%;
		font-size: 1.25em;
		max-width: calc(100% - 80px);
		a {
			line-height: 1;
		}
	}
	
}
@-moz-document url-prefix() {
	.nav-menu {
		transform-style: flat;
	}
}

.menu-item {
	color:white;
	&:hover {
		color: #ed5f32;
		transition: all 0.25s;
		&:after,
		&.left:after {
			transform: translateX(0)
		}
	}
	&:after {
		content: ' ';
		position: absolute;
		bottom: 0.1em;
		left: 0;
		width: 100%;
		height: 3px;
		background: linear-gradient(90deg, rgba(255,255,255,0.5), white);
		transform: translateX(120%);
		transition: all 0.3s;
	}
	&.left:after {
		transform: translateX(-120%);
	}

}

@keyframes first {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(-140px, -500px) rotate(320deg);
  }
}
@keyframes second {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-200px, -140px) rotate(-80deg);
  }
  100% {
    transform: translate(0px, 0px) skewY(30deg);
  }
}
@keyframes third {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-120px, 240px) rotate(-80deg);
  }
  100% {
    transform: translate(0px, -25px);
  }
}

@keyframes third-mobile {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-120px, 240px) rotate(-80deg);
  }
  100% {
    transform: translate(0px, -16px);
  }
}
