// offscript //



html.active-offscript {
	height: auto;
	overflow-x:hidden;
	overflow-y:auto;
}

body.active-offscript {
	border: none;
	height: auto;
	//background: radial-gradient(#ddd,#fff);
	background: radial-gradient(top, #111,#555);
	transform-style: flat;
	perspective: none;
	&:before,
	&:after {
		content:none;
	}

	header {
		transform-style: preserve-3d;
    perspective: 300px;
    perspective-origin: 0 500%;
    h1 {
	    display: inline-block;
	    top: 0;
	    left:0;
	    width:auto;
	    margin-top: 0.5em;
			color: white;
			background: -webkit-linear-gradient(transparent, transparent),-webkit-linear-gradient(0deg, white 0%, rgba(255,255,255,0.5) 100%);
			background: -o-linear-gradient(transparent, transparent);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 3vw;
			visibility: visible;
			opacity: 0.8;
			transform: rotateY(5deg);
			font-size: 7vw;
			position: relative;
			z-index: 1;
		}
		a {
			display: inline-block;
			float: right;
			padding: 20px;
			width: 100px;
		}
	}
}



.container {
  width: 100%;
  max-width:1200px;
  padding: 100px 20px;
  margin: 0 auto;
  h2 {
	  color: white;
	  text-align: left;
	  margin-left: 10px;
	  font-size: 1.25em;
	  margin-bottom: 0.5em;
	  text-transform: uppercase;
	  width:100%;
  }
}

section {
	counter-reset: figure;
	margin-bottom: 3em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container figure {
	position: relative;
  width: 24.6%;
  display: inline-block;
  padding: 0px;
	overflow: hidden;
	//border: 1px solid red;
	
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 10px 10px 2.4em 10px;
  > .inner {
    padding: 50% 0;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-out;
  }
  > img {
    width: 100%;
  }
  figcaption {
	  position: absolute;
    text-align: left;
    transform: translateX(110%);
    transition: transform 0.5s ease-out;
    bottom: 0.25em;
    width: 90%;
    line-height: 1.05;
    color: white;
    //white-space: nowrap;
    mix-blend-mode: difference;
    
    &:after {
	    counter-increment: figure;
	    content: counter(figure) '/';
	    position: absolute;
	    left: -2em;
	    bottom: 0;
    }
  }
  &:hover {
	  > .inner {
		  transform: scale(1.05);
	  }
	  figcaption {
    	transform: translateX(0%);
	  }
  }
  @media (max-width: $tablet) {
	  width: 45%;
  }
}

#content-slider {
  position: fixed;
  width:100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background:black;
  background-image: url(images/ball.gif), radial-gradient(#333,black);
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(150%);
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;


  &.active {
    transform: translateX(0);
  }

  iframe {
    width: 100%;
    height: 100vh;
    opacity: 0.0;
    transition: opacity 2s linear 1s;
    &.loaded {
	    opacity:1;
    }
  }
  img {
    display:block;
    width: auto;
    max-height: 100vh;
    max-width: 100vw;
    opacity: 0.0;
    transition: opacity 2s linear 1s;
    &.loaded {
	    opacity:1;
    }
  }
}

#icon-close {
  position:fixed;
  right:10px;
  top:10px;
  z-index: 4;
  transform: translateY(-100px);
  transition: transform .5s ease-out 0s;
  mix-blend-mode: difference;
  svg {
    fill: red;
  }
  &:hover svg {
      animation: bulge 1s;
  }
  &.active {
    transform: translateY(0px);
  }
}
